<h1>My list of restaurants with ratings</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end %>
